{{- /* Renders the event pages in the context as Hextra cards. */ -}}
{{- $cards := "" }}
{{- range . }}
  {{- $subtitle := partial "event_meta.html" . | plainify | htmlUnescape }}
  {{- with .Summary }}{{ $subtitle = printf "%s<br>%s" $subtitle (. | plainify | htmlUnescape) }}{{ end }}
  {{- $cards = printf "%s%s" $cards (partial "shortcodes/card" (dict "page" . "link" .RelPermalink "title" .Title "subtitle" $subtitle "icon" "calendar")) }}
{{- end }}
{{- partial "shortcodes/cards" (dict "cols" 1 "content" ($cards | safeHTML)) }}
