{{- /* Overrides the PaperMod partial to show upcoming events below the intro. */ -}}
{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content md-content">
        {{ $opts := dict "display" "block" }}
        {{ .Content | $.Page.RenderString $opts }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}

{{- with index (where site.Sections "Type" "events") 0 }}
{{- $events := partial "events.html" .RegularPages }}
{{- with $events.upcoming }}
<h2>{{ i18n "upcoming_events" }}</h2>
{{- partial "event_list.html" (first 3 .) }}
{{- end }}
<p><a href="{{ .RelPermalink }}">{{ i18n "all_events" }} →</a></p>
{{- end }}
