{{- define "main" }}
<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">{{ .Title }}</h1>
    {{- with .Description }}
    <div class="post-description">{{ . }}</div>
    {{- end }}
    <div class="post-meta">
      {{- partial "event_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
    </div>
  </header>
  {{- partial "cover.html" (dict "cxt" . "IsSingle" true "isHidden" false) }}
  {{- with .Content }}
  <div class="post-content md-content">{{ . }}</div>
  {{- end }}
</article>
{{- end }}
